/* ---- Hover Animations ---- */

/* Buttons */ button:hover,
/* Settings List Items */ .item-PXvHYJ:hover,
/* Direct Message List Items */ .channel-2QD9_O:hover,
/* Member List Items */ .member-3-YXUe:hover,
/* Context Menu Items */ .item-1tOPte:hover,
/* Message Images */ .imageWrapper-2p5ogY:hover,
/* Message Embeds */ .embedWrapper-lXpS3L:hover,
/* Message Profile Pictures */ .avatar-1BDn8e:hover,
/* Call Tiles */ .tile-kezkfV:hover,
/* Screenshare Tiles */ .tile-2w4k5N:hover,
/* Topbar Items */ .iconWrapper-2OrFZ1:hover,
/* Voice Call Users */ .draggable-2E_4tJ:hover,
/* Server Channels */ .content-1x5b-n:hover,
/* Friends Tab Cards */ .itemCard-v9viV7:hover,
/* Nitro Tab Main Card */ .hero-EvfTTA:hover,
/* Nitro Tab Feature Cards */ .feature-2w65J5:hover,
/* Quick Switcher List Items */ .resultFocused-3aIoYe:hover,
/* Quick Switcher Search Box */ .input-2VB9rf:hover,
/* Discovery Tab Header */ .searchHeader-2I26nG:hover,
/* Discovery Tab List Items */ .categoryItem-3zFJns:hover,
/* Discovery Tab Cards */ .loaded-1eBnjq:hover,
/* Settings Radios */ .item-26Dhrx:hover,
/* Settings Switches */ .control-2BBjec:hover,
/* Settings Powercord Plugins Tab Cards */ .powercord-product:hover
{
  transform: scale(var(--HoverScale));
  box-shadow: var(--elevation-high);
}

/* ---- Static Animations ---- */

/* Button Types */ button,
/* Settings List Items */ .item-PXvHYJ,
/* Direct Message List Items */ .channel-2QD9_O,
/* Member List Items */ .member-3-YXUe,
/* Context Menu Items */ .item-1tOPte,
/* Message Images */ .imageWrapper-2p5ogY,
/* Message Embeds */ .embedWrapper-lXpS3L,
/* Message Profile Pictures */ .avatar-1BDn8e,
/* Call Tile Profiles */ .tile-kezkfV,
/* Screenshare Tiles */ .tile-2w4k5N,
/* Topbar Items */ .iconWrapper-2OrFZ1,
/* Voice Call Users */ .draggable-2E_4tJ,
/* Server Channels */ .content-1x5b-n,
/* Friends Tab Cards */ .itemCard-v9viV7,
/* Nitro Tab Main Card */ .hero-EvfTTA,
/* Nitro Tab Feature Cards */ .feature-2w65J5,
/* Quick Switcher List Items */ .resultFocused-3aIoYe,
/* Quick Switcher Search Box */ .input-2VB9rf,
/* Discovery Tab Header */ .searchHeader-2I26nG,
/* Discovery Tab List Items */ .categoryItem-3zFJns,
/* Discovery Tab Cards */ .loaded-1eBnjq,
/* Settings Radios */ .item-26Dhrx,
/* Settings Switches */ .control-2BBjec,
/* Settings Powercord Plugins Tab Cards */ .powercord-product
{
  transition: var(--EaseType) var(--TransitionTime);
  box-shadow: none;
}
